#img-bg{
background-image: url('https://w0.peakpx.com/wallpaper/0/969/HD-wallpaper-keyboard-gaming-azul-blue-gamer-laptop-notebook-teclado.jpg');
min-height: 695px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}